<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>

  {% include 'base.html' %}

  <script>
    $(document).ready(function() {
      $("#getRate").on("click", function() {
        $.ajax({
          url: "../rest/getAssets",
          type: "POST",
          data: {
            userid: $("#userid").val(),
            passward: $("#passward").val()
          },
          headers: {
            "X-CSRFToken": token
          }
        })
          // Ajaxリクエストが成功した時発動
          .done(data => {
            // $(".result").html(data);
            console.log(data);
            data = data["result"];
            var asset = {
              x: [],
              y: [],
              name: "資産(JPY)",
              mode: "lines",
              text: []
            };

            data.forEach(elm => {
              dt = new Date(elm.created_at);
              dt.setHours(dt.getHours());
              //   console.log(dt.toLocaleString());

              asset.y.push(elm.assets);
              asset.x.push(dt);
            });

            var layout = {
              dragmode: "zoom",
              margin: {
                r: 10,
                t: 25,
                b: 40,
                l: 60
              },
              showlegend: false
              //   xaxis: {
              //     autorange: true,
              //     domain: [0, 1],
              //     range: [trace1.x[0], trace1.x[trace1.x.length - 10000]],
              //     rangeslider: {
              //       range: [trace1.x[0], trace1.x[trace1.x.length - 10000]]
              //     },
              //     title: "Date",
              //     type: "date"
              //   },
              //   yaxis: {
              //     autorange: true,
              //     domain: [0, 1],
              //     range: [
              //       Math.min(trace1.high) - 10000,
              //       Math.max(trace1.high) + 10000
              //     ],
              //     type: "linear"
              //   }
            };
            Plotly.plot("plotly-div", [asset], layout);
          })

          // Ajaxリクエストが失敗した時発動
          .fail(data => {
            // $(".result").html(data);
            console.log(data);
          });
      });
    });
  </script>

  <body>
    <h2>資産状況</h2>

    <div class="w-100">
      <div class="m-auto text-center">
        <!-- <select class="" id="pare">
                <option value="USD_JPY">USD_JPY</option>
                <option value="EUR_JPY">EUR_JPY</option>
                <option value="GBP_JPY">GBP_JPY</option>
            </select>

            <select class="" id="granularity">
                <option value="USD_JPY">USD_JPY</option>
                <option value="EUR_JPY">EUR_JPY</option>
                <option value="GBP_JPY">GBP_JPY</option>
            </select> -->

        <input type="button" class="btn" value="資産を検索" id="getRate" />
      </div>
    </div>

    <div id="plotly-div"></div>
    <div id="plotly-div2"></div>
    <div id="tbl" class="tableFixHead"></div>
  </body>
</html>
