<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

{% include 'base.html' %}

<script>
    $(document).ready(function () {
        $('#getRate').on('click', function () {
            const myBody = 'my body';

            // fetch('getRate', {
            //     method: 'POST',
            //     headers: { "X-CSRFToken": token },
            //     body: myBody
            // }).then((res) => {
            //     return res.json()
            // }).then((json) => {
            //     console.log(json)
            // });


            $.ajax({
                url: 'getRate',
                type: 'POST',
                data: {
                    'userid': $('#userid').val(),
                    'passward': $('#passward').val()
                },
                headers: { "X-CSRFToken": token },

            })
                // Ajaxリクエストが成功した時発動
                .done((data) => {
                    $('.result').html(data);
                    console.log(data);
                })
                // Ajaxリクエストが失敗した時発動
                .fail((data) => {
                    $('.result').html(data);
                    console.log(data);
                });





        });
    });




</script>


<body>
    <h1>為替の確認</h1>


    <div class="w-100">
        <div class="m-auto text-center">
            <input type="button" class="btn" value="為替情報を検索" id="getRate">
        </div>
    </div>

</body>

</html>