<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

{% include 'base.html' %}

<script>
    $(document).ready(function () {

        function OnAutoTrade(bool) {
            let req = {
                auto_trade_is_on: bool
            }

            $.ajax({
                url: '../rest/tradeOnOff',
                type: 'POST',
                data: req,
                headers: { "X-CSRFToken": token }
            })
                // Ajaxリクエストが成功した時発動
                .done((data) => {

                })
                // Ajaxリクエストが失敗した時発動
                .fail((data) => {
                    $('.result').html(data);
                    console.log(data);
                });
        }

        $('#selectON').on('change', function () {
            console.log($('#selectON').val());
            if (Number($('#selectON').val())) {
                let ans = confirm("自動取引を開始しますか？");
                if (ans) {
                    OnAutoTrade(true);
                }
            } else {
                let ans = confirm("自動取引を終了しますか？");
                if (ans) {
                    OnAutoTrade(false);
                }
            };


        });

        $('#getRate').on('click', function () {
            $.ajax({
                url: '../rest/M5vsMA',
                type: 'POST',
                data: {
                    'userid': $('#userid').val(),
                    'passward': $('#passward').val()
                },
                headers: { "X-CSRFToken": token }
            })
                // Ajaxリクエストが成功した時発動
                .done((data) => {
                    $('.result').html(data);
                    console.log(data);
                    console.log(data['ma']);
                    console.log(data['condMa']);
                    console.log(data['m5']);

                    var trace1 = {
                        x: [],
                        close: [],
                        decreasing: { line: { color: '#7F7F7F' } },
                        high: [],
                        increasing: { line: { color: '#17BECF' } },
                        line: { color: 'rgba(31,119,180,1)' },
                        low: [],
                        open: [],
                        type: 'candlestick',
                        xaxis: 'x',
                        yaxis: 'y',
                        text: []
                    };


                    var ma5 = {
                        x: [],
                        y: [],
                        name: 'ma5',
                        mode: 'lines'
                    };
                    var ma20 = {
                        x: [],
                        y: [],
                        name: 'ma20',
                        mode: 'lines'
                    };
                    var ma75 = {
                        x: [],
                        y: [],
                        name: 'ma75',
                        mode: 'lines'
                    };
                    var ma6 = {
                        x: [],
                        y: [],
                        name: 'ma6',
                        mode: 'lines'
                    };
                    var ma24 = {
                        x: [],
                        y: [],
                        mode: 'lines',
                        name: 'ma24'
                    };
                    var ma72 = {
                        x: [],
                        y: [],
                        name: 'ma72',
                        mode: 'lines'
                    };
                    console.log(trace1);

                    data['m5'].forEach(function (list, i) {
                        // console.log(list.time.split('.')[0].replace('T', ' '));
                        trace1.close.push(list.close);
                        trace1.high.push(list.high);
                        trace1.low.push(list.low);
                        trace1.open.push(list.open);
                        trace1.text.push(
                            '短期、中期、長期線の状態：<br>5-20-75:' + data['condMa'][i].ma_comp5_20_75 +
                            '<br>6-24-72:' + data['condMa'][i].ma_comp6_24_72
                        );
                        // 
                        // console.log(list['recorded_at_utc']);
                        // console.log(list.recorded_at_utc);
                        trace1.x.push(list['recorded_at_utc'].split('.')[0].replace('T', ' '));
                        ma5.x.push(list['recorded_at_utc'].split('.')[0].replace('T', ' '));
                        ma20.x.push(list['recorded_at_utc'].split('.')[0].replace('T', ' '));
                        ma75.x.push(list['recorded_at_utc'].split('.')[0].replace('T', ' '));

                        ma6.x.push(list['recorded_at_utc'].split('.')[0].replace('T', ' '));
                        ma24.x.push(list['recorded_at_utc'].split('.')[0].replace('T', ' '));
                        ma72.x.push(list['recorded_at_utc'].split('.')[0].replace('T', ' '));
                    });

                    data['ma'].forEach(function (list, i) {
                        ma5.y.push(list.m5_ma5)
                        ma20.y.push(list.m5_ma20)
                        ma75.y.push(list.m5_ma75)

                        ma6.y.push(list.m5_ma6)
                        ma24.y.push(list.m5_ma24)
                        ma72.y.push(list.m5_ma72)
                    });


                    console.log(trace1);


                    var data = [trace1, ma5, ma20, ma75, ma6, ma24, ma72]

                    var layout = {
                        dragmode: 'zoom',
                        margin: {
                            r: 10,
                            t: 25,
                            b: 40,
                            l: 60
                        },
                        showlegend: false,
                        xaxis: {
                            autorange: true,
                            domain: [0, 1],
                            range: [trace1.x[0], trace1.x[trace1.x.length - 1]],
                            rangeslider: { range: [trace1.x[0], trace1.x[trace1.x.length - 1]] },
                            title: 'Date',
                            type: 'date'
                        },
                        yaxis: {
                            autorange: true,
                            domain: [0, 1],
                            range: [(Math.min(trace1.high) - 1), (Math.max(trace1.high) + 1)],
                            type: 'linear'
                        }
                    };
                    console.log(trace1);
                    Plotly.plot('plotly-div', data, layout);

                })
                // Ajaxリクエストが失敗した時発動
                .fail((data) => {
                    $('.result').html(data);
                    console.log(data);
                });
        });
    });




</script>


<body>
    <h1>為替の確認</h1>

    <div class="w-100">
        <div class="m-auto text-center">
            <!-- <select class="" id="pare">
                <option value="USD_JPY">USD_JPY</option>
                <option value="EUR_JPY">EUR_JPY</option>
                <option value="GBP_JPY">GBP_JPY</option>
            </select>

            <select class="" id="granularity">
                <option value="USD_JPY">USD_JPY</option>
                <option value="EUR_JPY">EUR_JPY</option>
                <option value="GBP_JPY">GBP_JPY</option>
            </select> -->

            <select class="" id="selectON">
                <option value="0">オフにする。</option>
                <option value="1">オンにする。</option>
            </select>
            <input type="button" class="btn" value="為替情報を検索" id="getRate">
        </div>
    </div>

    <div id="plotly-div" style="width: 900px; height: 500px;"></div>

</body>

</html>