<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

{% include 'base.html' %}

<script>
    $(document).ready(function () {

        function OnAutoTrade(bool) {
            let req = {
                auto_trade_is_on: bool
            }

            $.ajax({
                    url: '../rest/tradeOnOff',
                    type: 'POST',
                    data: req,
                    headers: {
                        "X-CSRFToken": token
                    }
                })
                // Ajaxリクエストが成功した時発動
                .done((data) => {

                })
                // Ajaxリクエストが失敗した時発動
                .fail((data) => {
                    $('.result').html(data);
                    console.log(data);
                });
        }

        $('#getRate').on('click', function () {
            text =
                '<tr>' +
                '<th>時間</th>' +
                '<th>Log</th>' +
                '</tr>'
            $.ajax({
                    url: '../rest/getLog',
                    type: 'POST',
                    headers: {
                        "X-CSRFToken": token
                    }
                })
                // Ajaxリクエストが成功した時発動
                .done((data) => {
                    console.log(data.result)
                    data.result.forEach(d => {
                        console.log(d.text)
                        console.log(new Date(d.created_at).toLocaleString())
                        text = text +
                            '<tr>' +
                            '<td>' + d.created_at + '</td>' +
                            '<td><div class="small">' +
                            d.text +
                            '</div></td>' +
                            '</tr>'
                    })

                    text = '<table class="table table-bordered">' + text + '</table>'
                    $('#log').empty()
                    $('#log').append(text)

                })
                // Ajaxリクエストが失敗した時発動
                .fail((data) => {
                    $('.result').html(data);
                    console.log(data);
                });
        });
    });
</script>


<body>
    <h2>Log</h2>

    <div class="w-100">
        <div class="m-auto text-center">
            <input type="button" class="btn" value="Logの取得" id="getRate">
        </div>
    </div>

    <div id="log"></div>


</body>

</html>